<div class="character-detail" *ngIf="(loadingCharacter$ | async) === false">
    <div class="character-detail__header-name">{{ character.name }}</div>
    <xb-card headerText="Character Info" class="character-detail__info">
        <h3>Class: {{ character.assignedHeroClass.name }}</h3>
        <h3>Role: {{ role }}</h3>
        <mat-form-field appearance="fill">
            <mat-label>Select Hero Class</mat-label>
            <mat-select [(ngModel)]="selectedClass" (selectionChange)="onChange($event)">
                <mat-option *ngFor="let option of heroClasses" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button color="primary" type="button" (click)="savingCharacter()">Save changes</button>
    </xb-card>

    <div class="character-detail__level">
        <h2>Level: {{ character.level }}</h2>
        <div class="character-detail__level-changer">
            <button
                type="button"
                mat-mini-fab
                class="character-detail__level-changer--subtract"
                (click)="leveling('subtract', 1)"
                *ngIf="character.level > 1"
            >
                <mat-icon aria-hidden="false" fontIcon="remove"></mat-icon>
            </button>
            <button
                type="button"
                mat-mini-fab
                class="character-detail__level-changer--add"
                (click)="leveling('addition', 1)"
            >
                <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
            </button>
        </div>
    </div>

    <div class="stats-section">
        <xb-card>
            <ng-template ngFor [ngForOf]="statsArr" let-item>
                <div class="character-stats">
                    <div class="character-stats__name">{{ item.statName | capitalizeFirstLetter }}</div>
                    <div>{{ item.statValue | number: '1.0-0' }}</div>
                </div>
            </ng-template>
            <div class="character-stats">
                <div class="character-stats__name">Block Rate</div>
                <div>{{ character.assignedHeroClass.blockRate * 100 }}%</div>
            </div>
            <div class="character-stats">
                <div class="character-stats__name">Critical Rate</div>
                <div>{{ character.assignedHeroClass.criticalRate * 100 }}%</div>
            </div>
            <div class="character-stats">
                <div class="character-stats__name">Physical Defense</div>
                <div>{{ character.assignedHeroClass.physDefense * 100 | number: '1.0-0' }}%</div>
            </div>
            <div class="character-stats">
                <div class="character-stats__name">Ether Defense</div>
                <div>{{ character.assignedHeroClass.etherDefense * 100 | number: '1.0-0' }}%</div>
            </div>
        </xb-card>
    </div>
</div>
