<div class="character-detail" *ngIf="(loadingCharacter$ | async) === false">
    <div class="character-detail__header-name">{{ character.name }}</div>
    <div class="character-detail__level">
        <h2>Level: {{ character.level }}</h2>
        <div class="character-detail__level-changer">
            <button
                type="button"
                mat-mini-fab
                class="character-detail__level-changer--subtract"
                (click)="leveling('subtract')"
                *ngIf="character.level > 1"
            >
                <mat-icon aria-hidden="false" fontIcon="remove"></mat-icon>
            </button>
            <button
                type="button"
                mat-mini-fab
                class="character-detail__level-changer--add"
                (click)="leveling('addition')"
            >
                <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
            </button>
        </div>
    </div>
    <h2>Class: {{ character.assignedHeroClass.name }}</h2>
    <h2>Role: {{ role }}</h2>
    <div>
        <xb-dropdown
            label="Select Hero Class..."
            [data]="heroClasses"
            (valueChanges)="onHeroClassChange($event)"
        ></xb-dropdown>
    </div>
    <div>
        <button mat-button color="primary" type="button" (click)="savingCharacter()">Save changes</button>
    </div>
    <div class="pt-4 stats-section">
        <h1 class="text-center">Stats</h1>
        <xb-card>
            <ng-template ngFor [ngForOf]="statsArr" let-item>
                <div class="character-stats">
                    <div class="character-stats__name">{{ item.statName | capitalizeFirstLetter }}</div>
                    <div>{{ item.statValue | number: '1.0-0' }}</div>
                </div>
            </ng-template>
            <div class="character-stats">
                <div class="character-stats__name">Block Rate</div>
                <div>{{ character.assignedHeroClass.blockRate * 100 }}%</div>
            </div>
            <div class="character-stats">
                <div class="character-stats__name">Critical Rate</div>
                <div>{{ character.assignedHeroClass.criticalRate * 100 }}%</div>
            </div>
            <div class="character-stats">
                <div class="character-stats__name">Physical Defense</div>
                <div>{{ character.assignedHeroClass.physDefense * 100 | number: '1.0-0' }}%</div>
            </div>
            <div class="character-stats">
                <div class="character-stats__name">Ether Defense</div>
                <div>{{ character.assignedHeroClass.etherDefense * 100 | number: '1.0-0' }}%</div>
            </div>
        </xb-card>
    </div>
</div>
