.character-detail {
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 50px 100px 31px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    @media only screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }

    & > h2 {
        grid-row: 2/3;
    }

    &__header-name {
        font-size: 2rem;
        font-weight: bold;
        grid-row: 1/1;
        grid-column: 1/4;
        place-self: center;
    }

    &__level-changer {
        display: flex;
        column-gap: 8px;
    }
}
.stats-section {
    grid-column: 1/4;
}
.character-stats {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    &:not(last-child) {
        padding-bottom: 1rem;
    }

    &__name {
        font-size: 1.1rem;
    }
}
